<div class="d-flex flex-row justify-content-between w-100 px-5">

  <button class="btn btn btn-primary" onclick="location.href='/inicio'">Volver
    al Inicio</button>
  <h3>Lista de Productos</h3>
  <button
    class="btn btn btn-danger"
    onclick="location.href='/carrito/'"
  >Carrito</button>
</div>

<div class="d-flex flex-column align-items-center">

  <div class="d-flex flex-row flex-wrap justify-content-center m-2">
    {{#each product}}
      <div class="card product m-2">
        <div class="card-body d-flex flex-column items-center">
          <h4 class="card-title text-center border-bottom fs-3">
            {{this.title}}
            <a href="/api/products/{{this._id}}"><i class="fas fa-edit"></i></a>
          </h4>
          <button onclick="location.href='/productos/{{this._id}}'" class="d-flex justify-content-between px-4 ">
            <td><img
                width="100"
                src={{this.thumbnail}}
                alt="image"
                class="rounded-3"
              /></td>
            <div>
              <p>{{this.description}} </p>
              <p>${{this.price}}</p>
              <p>stock: {{this.stock}}</p>
            </div>
          </button>
          <div class="d-flex">
            <form action="/api/cart/{{this._id}}" method="POST">
              <button
                class="btn btn-primary btn-block btn-sm"
                type="submit"
              >Agregar a Compras</button>
            </form>
            <!-- DELETE REQUEST -->
            <form
              action="/api/products/{{this._id}}?_method=DELETE"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <button
                type="submit"
                class="btn btn-danger btn-block btn-sm"
              >Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    {{else}}
      <div class="card mx-auto">
        <div class="card-body">
          <p clsss="lead">No hay productos.</p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="d-flex mt-4">
    <button class="btn btn-success btn-block" onclick="location.href='/agregarProducto'">
      Crear Producto</button>
  </div>
</div>